{% extends 'base.html' %}
{% load cms_tags sekizai_tags %}

{% block content %}
    {% addtoblock 'css' %}
        <link rel="stylesheet" href="/static/css/custom-style.css">
    {% endaddtoblock %}

    {% render_placeholder object.heading %}

    <div class="body-container">
        <section class="portfolio-details pb-40">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="portfolio-meta">
                        <ul>
                            <li class="row">
                                <div class="col-md-4 no-padding-right">
                                    <i class="fa fa-building"></i>
                                    <span>Client</span>
                                </div>
                                <div class="col-md-8 no-padding-left">
                                    {{ project.client }}
                                </div>
                            </li>
                            <li class="row">
                                <div class="col-md-4 no-padding-right">
                                    <i class="fa fa-user"></i>
                                    <span>Role</span>
                                </div>
                                <div class="col-md-8 no-padding-left">
                                    {{ project.roles }}
                                </div>
                            </li>
                            <li class="row">
                                <div class="col-md-4 no-padding-right">
                                    <i class="fa fa-coffee"></i>
                                    <span>Skills</span>
                                </div>
                                <div class="col-md-8 no-padding-left">
                                    {{ project.skills }}
                                </div>
                            </li>
                            <li class="row">
                                <div class="col-md-4 no-padding-right">
                                    <i class="fa fa-calendar"></i>
                                    <span>Length</span>
                                </div>
                                <div class="col-md-8 no-padding-left">
                                    {{ project.length }}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="project-desc">
                        <h3>
                            <span class="ellipsis"></span><a class="project-title"
                                                             href="/portfolio/{{ project.slug }}">{{ project.title }}</a>
                            <ul class="horizontal float-right">
                                <li>
                                    <a data-toggle="modal" data-target="#screenshotModal-{{ project.slug }}"
                                       class="pointer">
                                        <i class="fa fa-picture-o"></i>
                                    </a>

                                    <!-- Modal -->
                                    <div class="modal fade" id="screenshotModal-{{ project.slug }}"
                                         tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div id="carouselScreenshotControls-{{ project.slug }}"
                                                         class="carousel slide"
                                                         data-ride="carousel">
                                                        <div class="carousel-inner">
                                                            {% for media in project.mediaasset_set.all %}
                                                                <div class="carousel-item {% if forloop.first %}active {% endif %}">
                                                                    <img class="d-block img-slide"
                                                                         src="{{ media.media_asset.url }}"
                                                                         alt="{{ media.name }}"/>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                        <a class="carousel-control-prev"
                                                           href="#carouselScreenshotControls-{{ project.slug }}"
                                                           role="button"
                                                           data-slide="prev">
                                                            <span class="carousel-control-prev-icon"
                                                                  aria-hidden="true"></span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="carousel-control-next"
                                                           href="#carouselScreenshotControls-{{ project.slug }}"
                                                           role="button"
                                                           data-slide="next">
                                                            <span class="carousel-control-next-icon"
                                                                  aria-hidden="true"></span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </h3>
                        <p>{{ project.short_description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </div>

    {% addtoblock 'js' %}

    {% endaddtoblock  %}

{% endblock content %}